%section#invoices
  .page-header
    %h1 Invoices
  %table.zebra-striped
    %thead
      %tr
        %th Number
        %th Client
        %th Owed at
        %th Payed at
        %th Before VAT
        %th
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td.number= invoice.number
          %td.clients_nicknames= invoice.clients_nicknames.join(", ")
          %td.owed_at= invoice.owed_at
          %td.payed_at
            = invoice.payed_at
            - if invoice.overdue?
              %span.label.important= "Overdue"
          %td.total_amount_before_vat
            €
            = invoice.total_amount_before_vat
          %td= link_to "edit", edit_invoice_path(invoice), :id => "edit_invoice_#{invoice.id}", :class => "btn small"
  = link_to "New", new_invoice_path, :accesskey => 'n', :class => "btn"
