.clearfix
  = form.label :nickname
  .input
    = form.text_field :nickname
.clearfix
  = form.label :name
  .input
    = form.text_field :name
.clearfix
  = form.label :street
  .input
    = form.text_field :street
.clearfix
  = form.label :postcode
  .input
    = form.text_field :postcode
.clearfix
  = form.label :city
  .input
    = form.text_field :city
.clearfix
  = form.label :country
  .input
    = form.text_field :country
.clearfix
  = form.label :language
  .input
    = form.select :language, Client::LANGUAGE_PAIRS
.clearfix
  = form.label :vat_number, "VAT number"
  .input
    = form.text_field :vat_number
    - case @vat_number_valid
    - when true
      %span.label.success VALID
    - when false
      %span.label.important NOT VALID
