= form.label      :nickname
= form.text_field :nickname
= form.label      :name
= form.text_field :name
= form.label      :street
= form.text_field :street
= form.label      :postcode
= form.text_field :postcode
= form.label      :city
= form.text_field :city
= form.label      :country
= form.text_field :country
