%h1 Clients

= link_to "New", new_client_path, :class => "btn"

%table.zebra-striped
  %thead
    %tr
      %th Nickname
      %th Name
      %th
  %tbody
    - @clients.each do |client|
      %tr
        %td.nickname= client.nickname
        %td.name= client.name
        %td= link_to "edit", edit_client_path(client), :id => "edit_client_#{client.id}", :class => "btn small"
