%section#clients
  .page-header
    %h1 Clients
  %table.table.table-striped
    %thead
      %tr
        %th Nickname
        %th Name
        %th
    %tbody
      - @clients.each do |client|
        %tr
          %td.nickname= client.nickname
          %td.name= client.name
          %td
            = link_to edit_client_path(client), :id => "edit_client_#{client.id}" do
              %i.icon-pencil
  = link_to "New", new_client_path, :accesskey => 'n', :class => "btn"
