%section#projects
  .page-header
    %h1 Projects
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Client
        %th Default rate
        %th
    %tbody
      - @projects.each do |project|
        %tr
          %td.name= project.name
          %td.nickname= project.client_nickname
          %td.default_rate
            - if project.default_rate
              €
              = project.default_rate
          %td
            = link_to edit_project_path(project), :id => "edit_project_#{project.id}" do
              %i.icon-pencil
  = link_to "New", new_project_path, :accesskey => 'n', :class => "btn"
