.clearfix
  = form.label :executed_at
  .input
    = form.date_select :executed_at
.clearfix
  = form.label :project_id
  .input
    = form.select :project_id, @projects.collect {|p| [p.name, p.id]}
.clearfix
  = form.label :hours_spent
  .input
    .input-append
      = form.text_field :hours_spent, :class => "input-mini"
      %span.add-on hours
