.clearfix
  = form.label :number
  .input
    .input-prepend
      %span.add-on #
      = form.text_field :number, :class => "small"
.clearfix
  = form.label :reference
  .input
    = form.text_field :reference
.clearfix
  = form.label :company
  .input
    = form.text_field :company
.clearfix
  = form.label :description
  .input
    = form.text_field :description
.clearfix
  = form.label :amount
  .input
    .input-prepend
      %span.add-on €
      = form.text_field :amount, :class => "small"
.clearfix
  = form.label :booked_at
  .input
    = form.date_select :booked_at
