.topbar
  .fill
    .container
      %h3= link_to "Mission Control", root_path, :accesskey => 'h'
      %ul.nav
        %li{:class => active("units")}
          = link_to "Units", units_path, :accesskey => 'u'
        %li{:class => active("projects")}
          = link_to "Projects", projects_path, :accesskey => 'p'
        %li{:class => active("clients")}
          = link_to "Clients", clients_path, :accesskey => 'c'
      %ul.secondary-nav
        %li{:class => active("preferences")}
          = link_to "Preferences", preferences_path
