!!!
%html
  %head
    %title Mission Control
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/navigation"
    .container
      = render :partial => "layouts/flash", :object => flash
      = yield
